.user_settings {
  display: block;
  margin-top: 50px;
  width: 520px;
  display: block;
  margin: 0 auto;
  background-color: white;
  box-shadow: 3px 3px 3px 3px black;
}

.user_settings input {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
