.profile-container {
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile-container a {
  margin-left: 10px;  
}

.user_info {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.user_info button {
  background-color: transparent;
  border: 1px solid rgb(219, 219, 219);
  color: rgb(38, 38, 38);
  border-radius: 4px;
  padding: 5px 9px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  cursor: pointer;  
}

@media (max-width: 500px){
  .profile-container {
    display: flex;
    flex-direction: column;      
  }

  .profile-container button{
    margin-top: 15px;
    font-size: 22px;
  }
}
