.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
  align-items: center; 
  min-width: 350px;
}

.header-img img {
  width: 100px;
}

.header_features{
  display: flex;  
  align-items: center;
  justify-content: center;
  margin-left: 50px;  
  width: 40px;
  height: 40px;
}

.header_features img{
  width: 25px;
  height: 25px;
} 

.avatarHeader{
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:fit-content;  
}

.avatarHeader p {
  padding-left: 10px;
}

.header_nav{
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
}

.header_nav a{
  padding-left: 10px;
}

.modal-post {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px){
  nav .header_nav {
    display: flex;
    align-items: center; 
    justify-content: space-around;    
  }

  .header-img img {
    width: 75px;
  }

  .header_nav a{
    padding-left: 0px;
  }

  nav .header_nav{
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header_features{  
    margin-left: 0;  
    width: 35px;
    height: 35px;
  }
  
  .modal-post {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px){

  .header{
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    height: 150px;
    width: 100%;
  }

  .header_nav{
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .avatarHeader{
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:fit-content;  
  }
  
  .avatarHeader p {
    padding-left: 0px;
  }

  .avatarHeader p:nth-child(even) {
    display: none;
    padding-top: 15px;
  }

  .modal-post {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  
  
  }