.login-page-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}

@media (max-width: 850px) {
  .login-page-image img {
    display: none;
  }
  .login-page-container {
    gap: 0px;
  }
}
