.createpost-form {
  width: 75%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;   
  z-index: 3000;
  color: black; 
  border: 2px solid gray;
  border-radius: 15px;
  background-color: whitesmoke;
  min-width: 350px;

  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.7s;
  
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.createpost-form label {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.createpost-form input {
  height: 40px;
  width: 65%;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 95%;
  padding: 7px 20px;
  margin: 10px 0;   
  border-radius: 4px;  
}

.createpost-form button {
  font-size: 18px;
  background-color: rgba(0, 149, 246, 0.3);
  border: none;
  box-sizing: content-box;
  width: 200px;
  height: 30px;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 3px;
  transition: 0.7s;
  cursor: pointer;  
}

.createpost-form button:hover{
  letter-spacing: 3px;
  background-color:rgb(154, 9, 154);
  color: whitesmoke;
}

@media (max-width: 800px){

  .createpost-form{
    width: 95%;
  }

  .createpost-form label {
    font-size: 20px;    
  }

  .createpost-form input {
    height: 35px;
    width: 85%;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .createpost-form button {
    font-size: 18px;
    background-color: rgba(0, 149, 246, 0.3);
    border: none;
    box-sizing: content-box;
    width: 200px;
    height: 30px;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 3px;
    transition: 0.7s;
    cursor: pointer;  
  }

  .createpost-form button:hover{
    letter-spacing: 3px;
    background-color:rgb(154, 9, 154);
    color: whitesmoke;
  }
}

@media (max-width: 400px){

  .createpost-form {
    height: 220px;
  }

  .createpost-form input {    
    width: 95%;
    font-size: 16px; 
    margin-bottom: 20px;   
  }
  
  .createpost-form button {
    font-size: 18px;
    width: 80px;
    height: auto;
    margin-bottom: 15px;
  }
}

