
.users_comments_name p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 600;
}
.users_comments_text p {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.users_comments_avatar img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}
